<div class="container">
	<div class="company">
		<h1>CAKE</h1>
		<h1>$349.12</h1>
	</div>
	<div class="clearfix"></div> 
	<div class="graph">
		
	</div>
	<div class="clearfix"></div> 
	<div class="tab">
		<uib-tabset>
	      <uib-tab index="$index" ng-repeat="tab in tabs" select="getReport(tab.title)">
	      	<uib-tab-heading>{{tab.title}}</uib-tab-heading>
	      	<div class="clearfix"></div>
	      	<div class="labels">
				<div>
					<div>
						<p>Day High</p>
						<p>$351.96</p>
					</div>
					<div class="clearfix"></div> 
					<div>
						<p>Open</p>
						<p>$85.67</p>
					</div>
					<div class="clearfix"></div> 
					<div>
						<p>Avg. Volume</p>
						<p>56.6m</p>
					</div>
					<div class="clearfix"></div> 
					<div>
						<p>52wk High</p>
						<p>$835.67</p>
					</div>
					<div class="clearfix"></div> 
				</div>
				<div>
					<div>
						<p>Day Low</p>
						<p>$46.73</p>
					</div>
					<div class="clearfix"></div> 
					<div>
						<p>Today’s Close</p>
						<p>$576.67</p>
					</div>
					<div class="clearfix"></div> 
					<div>
						<p>Volume</p>
						<p>41.4m</p>
					</div>
					<div class="clearfix"></div> 
					<div>
						<p>52wk Low</p>
						<p>$542.43</p>
					</div>
					<div class="clearfix"></div> 
				</div>
			</div>
	      </uib-tab>
	    </uib-tabset>
	</div>
	<div class="action">
		<div>
			<button class="btn">SELL</button>
		</div>
		<div>
			<button class="btn">BUY</button>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="container">
	<div class="liveGraph">
		
	</div>
	<div class="socket">
		<div>
			<form name="frame" role="form" >
				<div class="input-group">
					<input type="number" name="rate" min="2" ng-model="rate" value="2" aria-label="Set Delay time"/>
				  	<span class="input-group-addon">sec</span>
				</div>
				<span ng-show="frame.rate.$dirty && frame.rate.$error.required" >Date rate more than 2</span>
				<button class="btn " ng-click="sub(rate)" ng-disabled="frame.$invalid" >Subscribe</button> 
				<button class="btn " ng-click="unsub()">Unsubscribe</button>
			</form>
		</div>
		<div ng-if=datasub[0] class="data">
				{{datasub}}
		</div>
	</div>
</div>



  